.slogan-grid {
	width: 100%;
	box-shadow: 0px 0px 0px;
}

.slogan-container {
	width: 100%;
	background: $color-two;
	display: flex;
	margin: 2rem 0;

	h3 {
		font-size: 1.8rem;
	}
}

.slogan-wrapper {
	box-shadow: 3px 3px 3px #000;
	width: 100%;
}

.entry-name {
	color: $color-four;
}

.slogan-left {
	font-family: $sub-title;
	padding: 2rem;
	min-width: 30%;
	background: $color-one;
	display: flex;
	flex-direction: column;
	align-items: start;
	text-align-last: left;
}

.slogan-right {
	font-size: 1.6rem;
	font-family: $sub-title;
	padding: 2rem;
	background: #333;
	width: 100%;
	text-align-last: left;
}
