.photopage-container {
	background: $color-one;
	padding: 3rem;

	& .photo-grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 2rem;
	}
}

.image-gallery-container {
	display: flex;
	flex-direction: column;

	.credit {
		font-family: $main-font;
		color: #fff;
		font-size: 1.4rem;

		&:hover {
			color: $color-three;
		}
	}
}

.gallery-images {
	max-width: 100%;
}

@media screen and (max-width: 768px) {
	.photopage-container .photo-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 480px) {
	.image-gallery-container {
		align-items: center;
	}

	.photopage-container {
		text-align: center;
	}

	.photopage-container .photo-grid {
		display: flex;
		flex-direction: column;
	}
}
