h1 {
	font-family: $title;
}

nav {
	font-family: Neuropol;
	background: #333;
	height: 8rem;
	display: flex;
	padding: 0.7rem calc((100vw - 1200px) / 2);
	z-index: 10;
}

.nav-container {
	display: flex;
	width: 90%;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
}

.logo {
	text-decoration: none;
	color: #ff4e00;
}

.navlink {
	text-decoration: none;
	color: #fff;
	padding: 0 1.6rem;
	height: 100%;
	cursor: pointer;
	font-size: 2rem;
	&:active {
		color: #ff4e00;
	}
}

.bars {
	display: none;
	color: #fff;

	@media screen and (max-width: 768px) {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(-100%, 75%);
		font-size: 2.2rem;
		cursor: pointer;
	}
}

.menu {
	display: flex;
	align-items: center;
	margin-right: -24px;

	@media screen and (max-width: 768px) {
		display: none;
	}
}
