.map-container {
	border-top: 1px solid #ccc;
	padding-top: 5rem;
	height: 100vh;
	background: #333;
	display: flex;
	flex-direction: column;
}

.title {
	text-align: center;
	color: #ff4e00;
	padding: 8rem 8rem 1rem 8rem;
	font-family: $title;
	font-size: 3.5rem;
	text-shadow: 4px 4px 4px #000;
}

.leaflet-container {
	margin: 3rem auto;
	width: 1000px;
	height: 500px;
}
