.racer {
	background: #383a3f;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;

	// card
	.racer__container {
		background: #1f2124;
		padding: 5rem;
		max-width: 75vw;
		height: fit-content;
		border-radius: 5px;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
		text-shadow: 4px 4px 4px #000;
		span {
			color: #f6b352;
		}
		h2 {
			color: #ff4e00;
		}

		.rank__title {
			margin-top: 2rem;
			font-family: $main-font;
			font-size: 1.5rem;
		}

		.rank {
			display: flex;
			justify-content: center;
			font-size: 2rem;
		}

		.star {
			margin: 0 0.3rem;
		}
	}

	.bio {
		display: flex;
		justify-content: space-between;
		text-align: left;
		font-family: $main-font;
		font-size: 3rem;
		margin: 2rem 0;

		span {
			color: #f6b352;
		}
	}

	.bio-snippet {
		max-width: 45%;
	}

	.profile__container {
		margin: auto;
		display: flex;
		justify-content: center;
		background: #333;
		border-radius: 50%;
		height: 25rem;
		width: 25rem;
	}

	.racer__icon {
		margin: 50px 0;
		svg {
			width: 100px;
			height: 100px;
			path {
				fill: #f6b352;
			}
		}
	}
}

.map-btn {
	font-family: $main-font;
	font-size: 2rem;
	display: block;
	background: #ff4e00;
	color: white;
	padding: 15px 20px;
	margin: 20px 0;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.9);
	transition: all 200ms ease-in-out;
	text-decoration: none;
	&:hover {
		background: #f6b352;
	}
}

Link:active {
	color: #fff;
}
